.RandomPlanet{
  height: 428px;
}
.PlanetWrap{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  .InfoWrap{
    width: 65%;
  }
  .imgWrap{
    width: 30%;
    img{
      max-width: 100%;
      height: auto;
    }
  }
}
.ListItem{
  background-color: #000;
}
.btn{
  color: #fff;
  border: 1px solid ;
  margin-top: 30px;
  transition: .3s;
  cursor: pointer;
  &:hover{
    background-color: brown;
    color: #fff;
  }
}