body{
  background: #000;
  color: #fff;
}
#root{
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  .mainWrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 991px) {
      flex-direction: column-reverse;
    }
  }
}