.ItemList{
  margin-top: 50px;
  width: 48%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  @media (max-width: 991px) {
    width: 100%;
  }
  .imgWrap{
    width: 40%;
    img{
      max-width: 100%;
      height: auto;
    }
  }
  .InfoWrap{
    width: 55%;
    ul{
      li:first-of-type{
        display: none;
      }
    }
  }
  .hovered{
    transition: .3s;
    cursor: pointer;
    &:hover,
    &.active{
      background: brown;
    }
  }
}